<div class="gallery-content col-md-12">
    <div class="carousel-content">
        <div class="adopt">ADOPTADO</div>
        <img ng-src="{{gallery.currentImage.fileName}}" alt="{{gallery.currentImage.name}}" title="{{gallery.currentImage.name}}">
        <div class="btn-carousel">
            <a class="thumb-prev" href="" ng-click="gallery.back()"><span class="icon-prev"></span></a>
            <a class="thumb-next" href="" ng-click="gallery.next()"><span class="icon-next"></span></a>
        </div>
    </div>
    <ul class="nav-thumbnail">
        <li>
            <img ng-repeat="image in gallery.images" ng-class="{'active' : image.id == gallery.currentImage.id }" ng-src="{{::image.thumbnail}}" ng-click="gallery.select($index)" alt="{{image.name}}" title="{{image.name}}" />
        </li>
    </ul>
</div>