
<div class="x_panel">
    <div class="x_title">
        <h2>{{gallery.model.title}}</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-md-4 col-xs-6" ng-repeat="image in gallery.model.images track by $index" >
                
                <div>
                    <div>
                        <div style="position:relative">
                            <img ng-src="{{image.thumbnail}}" alt="image" width="{{::gallery.model.width}}" height="{{::gallery.model.height}}" contentid="gallery.contentid" draggable="true" data-id="image.id" draggable-content-file callback="gallery.reorder" files="gallery.model.images" saveonchange="{{gallery.saveonreorder}}">
                        </div>
                        
                        <div class="mask">
                            <div class="tools tools-bottom">
                                <a ng-href="{{image.thumbnail}}" class="btn btn-default btn-xs" target="_blank"><i class="fa fa-link"></i></a>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="gallery.removeImage(image)"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="position:relative">
            <button type="button" class="btn btn-default btn-lg"><i class="fa fa-plus"></i> Agregar</button>
            <input type="file" class="fileInvisible" fileupload-huellitas onadded="gallery.imageAdded" data-defaultname="{{gallery.defaultName}}"  multiple />
            
        </div>
    </div>
</div>
