
<div class="x_panel">
    <div class="x_title">
        <h2>{{gallery.model.title}}</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-md-4 col-xs-6" ng-repeat="image in gallery.model.images track by $index" >
                
                <div>
                    <div>
                        <div style="position:relative">
                            <img ng-src="{{image.thumbnail}}" alt="image" width="{{::gallery.model.width}}" height="{{::gallery.model.height}}" contentid="gallery.contentid" draggable="true" data-id="image.id" draggable-content-file callback="gallery.reorder" files="gallery.model.images" saveonchange="{{gallery.saveonreorder}}">
                        </div>
                        
                        <div class="mask">
                            <div class="tools tools-bottom">
                                <a ng-href="{{image.thumbnail}}" class="btn btn-default btn-xs" target="_blank" title="Ver imagen"><i class="fa fa-link"></i></a>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="gallery.removeImage(image)" title="Eliminar"><i class="fa fa-times"></i></button>
                                <button type="button" class="btn btn-info btn-xs" ng-click="gallery.createSocialPost(image)" ng-if="gallery.contentid && gallery.model.socialpost" title="Generar post redes"><i class="fa fa-share-alt"></i></button>
                                <button type="button" class="btn btn-info btn-xs" ng-click="gallery.resizeImage(image)" ng-if="gallery.contentid" title="Redimensionar"><i class="fa fa-refresh"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6" ng-repeat="imageWithProgress in gallery.progressFiles track by $index" ng-if="imageWithProgress < 101" >
                <div class="progress right">
                    <div class="progress-bar progress-bar-danger" data-transitiongoal="{{imageWithProgress}}" style="width: {{imageWithProgress}}%;" aria-valuenow="{{imageWithProgress}}"></div>
                </div>
            </div>
            </div>
        <div style="position:relative">
            <button type="button" class="btn btn-default btn-lg"><i class="fa fa-plus"></i> Agregar</button>
            <input type="file" class="fileInvisible" fileupload-huellitas onadded="gallery.imageAdded" onprogress="gallery.onProgress" data-defaultname="{{gallery.defaultName}}" validextensions="\.(gif|jpg|jpeg|tiff|png|bmp)$" accept="image/*"  multiple />
            
        </div>
    </div>
</div>
