<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog login" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="tit-modal">INICIA SESIÓN</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="icon-close" aria-hidden="true"></span>
                </button>
            </div>
            <form name="login.form" novalidate ng-submit="login.authenticate()">
                <div class="login_redes">
                    <button type="button">
                        <span class="icon-face" ng-click="login.facebookLogin()"></span>
                    </button>
                    <!--<button>
                        <span class="icon-google-plus"></span>
                    </button>
                    <button>
                        <span class="icon-twt"></span>
                    </button>-->
                    <p>o con</p>
                </div>
                <div ng-if="!login.modeLogin">
                    <input type="text" placeholder="Tu nombre" name="name" ng-model="login.model.name" ng-required="!login.modeLogin" maxlength="100" ng-minlength="8">
                    <span class="error" ng-if="!login.form.$submitted || login.form.name.$valid"></span>
                    <span class="error" ng-if="login.form.$submitted && login.form.name.$error.required">Ingresa tu nombre</span>
                    <span class="error" ng-if="login.form.$submitted && login.form.name.$error.minlength">Ingresa un nombre válido</span>
                </div>
                <div>
                    <input type="email" placeholder="Correo Eletrónico:" name="email" ng-model="login.model.email" required>
                    <span class="error" ng-if="!login.form.$submitted || login.form.email.$valid"></span>
                    <span class="error" ng-if="login.form.$submitted && login.form.email.$error.required">Ingresa tu correo electrónico</span>
                    <span class="error" ng-if="login.form.$submitted && login.form.email.$error.email">Ingresa un correo electrónico válido</span>
                </div>
                <div>
                    <input type="password" placeholder="Contraseña" name="password" ng-model="login.model.password" ng-minlength="6" required>
                    <span class="error" ng-if="!login.form.$submitted || login.form.password.$valid"></span>
                    <span class="error" ng-if="login.form.$submitted && login.form.password.$error.required">Ingresa tu clave</span>
                    <span class="error" ng-if="login.form.$submitted && login.form.password.$error.email">Tu clave debe ser de mínimo 6 caracteres</span>
                </div>
                <div ng-if="!login.modeLogin">
                    <input type="password" placeholder="Confirmar contraseña" name="password2" ng-model="login.model.password2" ng-minlength="6" compare-to="login.model.password" ng-required="!login.modeLogin">
                    <span class="error" ng-if="!login.form.$submitted || login.form.password2.$valid"></span>
                    <span class="error" ng-if="login.form.$submitted && login.form.password2.$invalid">Confirma la contraseña</span>
                </div>
                <div class="box-log" ng-if="login.modeLogin">
                    ¿Eres nuevo? <a href="#" ng-click="login.register(true)">Regístrate</a><br>
                    <a ng-href="{{::root.getRoute('contact')}}">Recuperar contraseña</a>
                </div>
                <div class="box-log" ng-if="!login.modeLogin">
                    <a href="#" ng-click="login.register(false)">Ya estoy registrado</a>
                </div>
                <button type="submit" class="btn btn-lg btn-save">{{login.modeLogin ? 'Entra' : 'Registrate'}}</button>
            </form>
        </div>
    </div>
</div>