<div>
    
    <div adsense-huellitas class="ad-left" ad-client="ca-pub-4989702801072526" ad-slot="4251022586" ad-format="auto"></div>
    <div adsense-huellitas class="ad-right" ad-client="ca-pub-4989702801072526" ad-slot="8602520507" ad-format="auto"></div>

    <div class="home-banner">
        <ul>
            <div class="btn-carousel" ng-if="main.banners.length > 1">
                <a class="thumb-prev" href="" ng-click="main.previousBanner()"><span class="icon-prev"></span></a>
                <a class="thumb-next" href="" ng-click="main.nextBanner()"><span class="icon-next"></span></a>
            </div>
            <li ng-animate-swap="main.currentBanner" ng-class="{ 'banner-desta' : main.currentBanner.isPet }">
                <div class="event-desta" ng-if="!main.currentBanner.isPet">
                    <div ng-bind-html="main.trustHtml(main.currentBanner.body)">
                    </div>
                </div>
                <img class="img-banner" ng-src="{{main.currentBanner.fileUrl}}" ng-if="!main.currentBanner.isPet" alt="{{main.currentBanner.name}}" title="{{main.currentBanner.name}}">
                <div ng-if="main.currentBanner.isPet" class="pet-desta content-all">
                    <div class="txt-pet">
                        
                        <a ng-href="{{::root.getRoute('pet', {friendlyName: main.featuredPet.friendlyName})}}">
                            <h3>{{::main.featuredPet.name}}</h3>
                            <h4>{{::main.featuredPet.genre.text}} - {{::main.featuredPet.months | age}}</h4>
                            <p>{{::main.featuredPet.body | limitTo:180}}</p>
                            <button class="btn btn-lg" >Conocer más</button>
                        </a>
                    </div>
                    <div class="box-pet-img">
                        <a class="pet-img">
                            <img class="img-responsive" ng-src="{{::main.featuredPet.image.thumbnail}}" alt="Mascota destacada" title="Mascota destacada">
                            <span class="priority">
                                <i class="icon-star"></i>
                                <span>Destacado</span>
                            </span>
                        </a>
                    </div>
                    <br />
                </div>
            </li>
        </ul>
    </div>
    <section>
        <article id="firstPets" class="content-all" list-pets data-showads="true" data-filter="main.filterPets" ></article>
        <article id="secondPets" class="content-all" list-pets data-showads="true" data-filter="main.filterPetsRescuers" data-viewall="root.getRoute('pets')"></article>
    </section>
    <section class="h-funda"  ng-if="main.shelters.length > 0">
        <article class="content-all col-md-12">
            <h2 class="tit-section col-md-12">FUNDACIONES</h2>
            <div class="sub-title col-md-12">Estas son algunas de las fundaciones que puedes encontrar con nosotros</div>
            <ul>
                <li ng-repeat="shelter in main.shelters">
                    <span>
                        <a ng-href="{{::root.getRoute('shelter', {friendlyName: shelter.friendlyName})}}">
                            <img ng-src="{{::shelter.image.thumbnail}}" title="Conoce a la fundación {{::shelter.name}}" alt="Conoce a la fundación {{::shelter.name}}">
                        </a>
                    </span>
                </li>
                <br>
            </ul>
            <a ng-href="{{::root.getRoute('shelters')}}" class="btn btn-lg btn-more">Ver todas</a>
        </article>
    </section>

    <section>
        <div adsense-huellitas class="ad-horizontal-m" ad-client="ca-pub-4989702801072526" ad-slot="5354019562" ad-format="auto"></div>
        <article class="content-all col-md-12">
            <div adsense-huellitas class="ad-horizontal" ad-client="ca-pub-4989702801072526" ad-slot="5354019562" ad-format="auto"></div>
            <ul class="apoyo">
                <li>
                    <span class="icon-cayuda"></span>
                    <div class="box-txt">
                        <h3>{{::root.resources['Home.HowTo.Help.Title']}}</h3>
                        <p ng-bind-html="::root.resources['Home.HowTo.Help.Content']"></p>
                        <a class="btn btn-lg" ng-href="{{::root.getRoute('faq')}}">Conocer más</a>
                    </div>
                    <br />
                </li>
                <li>
                    <span class="icon-mperdida"></span>
                    <div class="box-txt">
                        <h3>{{::root.resources['Home.HowTo.Parent.Title']}}</h3>
                        <p ng-bind-html="::root.resources['Home.HowTo.Parent.Content']"></p>
                        <a class="btn btn-lg" ng-href="{{::root.getRoute('pets')}}">Conocer más</a>
                    </div>
                    <br />
                </li>
                <li>
                    <span class="icon-huella"></span>
                    <div class="box-txt">
                        <h3>{{::root.resources['Home.HowTo.Adopt.Title']}}</h3>
                        <p ng-bind-html="::root.resources['Home.HowTo.Adopt.Content']"></p>
                        <a class="btn btn-lg" ng-href="{{::root.getRoute('pets')}}">Conocer más</a>
                    </div>
                    <br />
                </li>
                <br />
            </ul>
        </article>
    </section>


    <section class="bkg-gray">
        <article class="content-all">
            <h2 class="tit-section col-md-12">{{::root.resources['Home.Who.Title']}}</h2>
            <div class="us col-md-12" ng-bind-html="::root.resources['Home.Who.Content']"></div>
            <ul class="team">
                <li class="col-xs-12 col-sm-4">
                    <img src="/img/front/foto-erica-prado.jpg" title="Erica Prado">
                    <h4>ERICA PRADO</h4>
                    <p>La cultura de un pueblo se mide por la forma en la que trata a sus animales (Gandhi)</p>
                </li>
                <li class="col-xs-12 col-sm-4">
                    <img src="/img/front/foto-gabriel-castillo-prada.jpg" title="Gabriel Castillo">
                    <h4>GABRIEL CASTILLO</h4>
                    <p>Unicamente quiero ayudar a los animales</p>
                </li>
                <li class="col-xs-12 col-sm-4">
                    <img src="/img/front/foto-julian-castillo-prada.jpg" title="Julian Castillo">
                    <h4>JULIAN CASTILLO</h4>
                    <p>Solo busco aportar para que se vea con otra cara la desprotección animal</p>
                </li>
                <br />
            </ul>
        </article>
        <div class="ad-horizontal-m"></div>
    </section>
</div>