<div class="pg-body col-md-12">
    <section>
        <article class="content-all" >
            <div class="content-form" >
                <div class="ad-horizontal-m" adsense-huellitas ad-client="ca-pub-4989702801072526" ad-slot="5672416471" ad-format="auto"></div>
                <h1 class="tit-form">CAMBIAR CLAVE</h1>
                <div class="sub-title col-md-12">Para cambiar la clave debes ingresar la nueva clave en los campos que encuentras a continuación:</div>
                <form name="main.form" novalidate ng-submit="main.save()">

                    <div class="col-sm-12 col-xs-12" ng-class="{ 'bad' : main.form.$submitted && main.form.password.$invalid }">
                        <input type="password" name="password" placeholder="Tu nueva clave" ng-model="main.model.password" ng-maxlength="100" ng-minlength="6" required>
                        <span class="error" ng-if="main.form.$submitted && main.form.password.$error.required">La clave es obligatoria</span>
                        <span class="error" ng-if="main.form.$submitted && main.form.password.$error.minlength">Mínimo son 6 caracteres</span>
                        <span class="error" ng-if="!main.form.$submitted || main.form.password.$valid"></span>
                    </div>
                    <div class="col-sm-12 col-xs-12" ng-class="{ 'bad' : main.form.$submitted && main.form.password2.$invalid }">
                        <input type="password" name="password2" placeholder="Repite tu nueva clave" ng-model="main.model.password2" ng-maxlength="100" ng-minlength="6" compare-to="main.model.password" required>
                        <span class="error" ng-if="main.form.$submitted && main.form.password2.$error.required">La clave es obligatoria</span>
                        <span class="error" ng-if="main.form.$submitted && main.form.password2.$error && main.model.password != main.model.password2">Las claves no coinciden</span>
                        <span class="error" ng-if="!main.form.$submitted || main.form.password2.$valid"></span>
                    </div>
                    <div ng-if="main.errorToken" class="alert alert-danger alert-dismissible fade in" role="alert">
                        <strong>Error!</strong> {{main.errorToken}}
                    </div>
                    <div class="btn-content">
                        <a href="/" class="btn btn-cancel btn-lg">Cancelar</a>
                        <button type="submit" class="btn btn-save btn-lg">Actualizar clave</button>
                    </div>
                </form>
            </div>
        </article>
    </section>
</div>