<div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Refugios <a class="btn btn-success" href="/admin/shelters/new"><i class="fa fa-plus"></i> Nuevo Refugio</a></h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <br>
                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                        <div class="form-group col-md-6">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Nombre
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" ng-model="main.filter.keyword" ng-change="main.getShelters()" ng-model-options="{ debounce : 300 }">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Ciudad
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                
                                <angucomplete-alt id="location"
                                                  placeholder="Filtrar por ubicación"
                                                  pause="500"
                                                  remote-url="/api/locations?pagesize=8&name="
                                                  title-field="name"
                                                  selected-object="main.changeFilterLocation"
                                                  input-class="form-control col-md-9 col-xs-12 angucomplete-bootstrap"
                                                  input-name="location"
                                                  remote-url-data-field="results"
                                                  match-class="highlight" />
                            </div>
                        </div>
                    </form>
                </div>

                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Imagen</th>
                                    <th class="column-title">Nombre</th>
                                    <th class="column-title">Ubicación</th>
                                    <th class="column-title">Encargado</th>
                                    <th class="column-title">Estado</th>
                                    <th class="column-title no-link last">
                                        <span class="nobr">Opciones</span>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="shelter in main.shelters" class="pointer" ng-class-odd="odd" ng-class-even="even">
                                    <td><img ng-src="{{shelter.image.thumbnail}}" title="{{shelter.name}}" width="40" height="40" /></td>
                                    <td>{{shelter.name}}</td>
                                    <td>{{shelter.location.name}}</td>
                                    <td>{{shelter.owner}}</td>
                                    <td>
                                        <span class="label" ng-class="[
                                              {'label-default' : shelter.status == 'Created'},
                                              {'label-danger' : shelter.status == 'Closed'},
                                              {'label-warning' : shelter.status == 'Hidden'},
                                              {'label-success' : shelter.status == 'Published'}
                                              ]">{{shelter.status}}</span>
                                    </td>
                                    <td class="last">
                                        <a href="/admin/shelters/{{shelter.id}}/edit" type="button" class="btn btn-primary btn-xs">Editar</a>
                                        <button type="button" class="btn btn-info btn-xs">Ver</button>
                                    </td>
                                </tr>
                                <tr ng-show="!main.shelters.length">
                                    <td colspan="5"  class="last">
                                     No hay registros
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <list-pager class="pagerDirective"  ></list-pager>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>