<div class="col-md-3 left_col" ng-controller="SideBarController as sidebar">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="#" class="site_title"><i class="fa fa-paw"></i> <span>{{sidebar.title}}</span></a>
        </div>

        <div class="clearfix"></div>

        <br>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section active">
                <h3>Menú</h3>
                <ul class="nav side-menu" style="">
                    <li ng-repeat="module in sidebar.modules" ng-class="{'active' : sidebar.currentMenuOption == module.key }">
                        <a ng-href="{{module.url}}" ng-click="sidebar.changeCurrentMenuOption(module)"><i class="fa {{module.icon}}"></i> {{module.name}} <span class="fa fa-chevron-down" ng-if="module.children"></span></a>
                        <ul class="nav child_menu" ng-if="module.children" ng-style="{display:(sidebar.currentMenuOption == module.key ? 'block' : 'none')}">
                            <li ng-repeat="child in module.children" ng-class="{'current-page' : sidebar.currentChild == child.key }"><a ng-href="{{child.url}}" ng-click="sidebar.changeCurrentChild(child)">{{child.name}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
    </div>
</div>