<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="tit-modal">{{modal.title}}</h4>
                <button type="button" class="close" aria-label="Close" ng-click="modal.close()">
                    <span class="icon-close" aria-hidden="true"></span>
                </button>
            </div>
            <form>
                <div class="box-log" ng-bind-html="modal.message"></div>
                <br />
                <div align="center">
                    <a class="btn btn-lg btn-default" ng-href="{{modal.getRoute('contact')}}" target="_blank">Contáctanos</a>
                    <button type="button" class="btn btn-lg btn-danger" ng-click="modal.close()">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>