<div class="pg-body col-md-12">
    <section class="inter-add">
        <h3>¿Tienes una huellita para dar en adopción?</h3>
        <a ng-href="{{root.getRoute('newpet0')}}" class="btn btn-lg">Publicala aquí</a>
    </section>
    <div adsense-huellitas class="ad-horizontal" ad-client="ca-pub-4989702801072526" ad-slot="5354019562" ad-format="auto"></div>
    <section>
        <div adsense-huellitas class="ad-horizontal-m" ad-client="ca-pub-4989702801072526" ad-slot="5354019562" ad-format="auto"></div>
        <article class="content-all">
            <h1 class="tit-section col-md-12">MIS HUELLITAS</h1>
            <div class="sub-title col-md-12">Filtrar por:</div>
            <div class="ft-mpet">
                <form class="search-box">
                    <div class="col-md-2 col-sm-6">
                        <input type="text" placeholder="Nombre" ng-model="main.filter.keyword" ng-model-options="{ debounce: 1200 }" ng-change="main.search()">
                    </div>
                    <div class="col-md-3 col-sm-6 ">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <label style="padding-top:6px">Solo activos / Ver todos</label>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="onoffswitch" ng-click="main.changeFilterStatus()">
                                <input type="checkbox" name="statusFilter" class="onoffswitch-checkbox" ng-checked="main.filter.status == 'Published'">
                                <label class="onoffswitch-label" for="statusFilter"></label>
                            </div>
                        </div>
                    </div>
                    <br>
                </form>
                <br />
                <br>
            </div>
            <div class="mask-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th class="hidden-xs">Estado</th>
                            <th class="hidden-xs">Fecha</th>
                            <th style="max-width:20px">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pet in main.pets">
                            <td scope="row" class="img-table">
                                <a ng-href="{{::root.getRoute('editpet', {friendlyName: pet.friendlyName})}}">
                                    <img ng-src="{{::pet.image.thumbnail}}" title="Foto de {{::pet.name}}">
                                </a>
                                {{::pet.name | limitTo:18}}
                            </td>
                            <td class="hidden-xs">{{pet.status != 'Published' ? 'Activo' : 'Inactivo'}}</td>
                            <td class="hidden-xs">{{pet.createdDate | timeago}}</td>
                            <td>
                                <div style="padding-top:3px"><a ng-if="::pet.status != 'Created'" class="btn btn-sm" ng-class="{'btn-danger': pet.status == 'Published', 'btn-success': pet.status != 'Published'}" ng-click="main.changeStatus(pet)">{{pet.status == 'Published' ? 'Desactivar' : 'Activar'}}</a></div>
                                <div style="padding-top:3px"><a class="btn btn-sm btn-warning" ng-href="{{::root.getRoute('forms', { petId: pet.id, petName: pet.name })}}">Ver formularios ({{::pet.pendingForms}})</a></div>
                                <div style="padding-top:3px"><a class="btn btn-sm btn-dark btn-blue" ng-href="{{::root.getRoute('editpet', {friendlyName: pet.friendlyName})}}">Actualizar</a></div>
                            </td>
                        </tr>
                        <tr ng-if="!main.pets.length">
                            <td colspan="7" align="center">
                                <div class="no-found">
                                    <span class="icon-search"></span>
                                    No hay resultados que coincidan con tu búsqueda
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-lg btn-more" ng-if="main.hasNextPage" ng-click="main.more()">Ver más</button>
        </article>
    </section>
</div>