<div class="pg-body col-md-12">
    <section>
        <article class="content-all">
            <div class="content-form"  ng-if="!main.isShowingVideo">
                <h1 class="tit-form">¿TIENES UNA MASCOTA PARA DAR EN ADOPCIÓN?</h1>
                <div class="sub-title">En Huellitas sin hogar te ayudamos a que le puedas conseguir un hogar a los peludos que no lo tengan. Si tienes una mascota que estés dando en adopción también lo puedes hacer, pero antes de empezar ten en cuenta las siguientes recomendaciones:</div>
                <ul class="list-msj">
                    <li>
                        <span class="icon-gallery"></span>
                        <p>Debes tomar las fotos con buena luz, enfocadas, con buena resolución y que se vea el perro o gato perfectamente. Si no sabes como tomar las fotos, aquí te enseñamos como.</p>
                        <br>
                    </li>
                    <li>
                        <span class="icon-datos"></span>
                        <p>Debes registrarte en Huellitas sin Hogar y suministrar datos de contacto claros los cuales serán verificados por nosotros</p>
                        <br>
                    </li>
                    <li>
                        <span class="icon-mperdida"></span>
                        <p>En caso que la información suministrada no este completa o tenga errores, no se podrá ver publicada en la pagina</p>
                        <br>
                    </li>
                </ul>
                <div class="btn-content">
                    <button ng-click="main.showVideo()" class="btn btn-save btn-lg">Empezar</button>
                </div>
            </div>
            <div class="content-form" ng-if="main.isShowingVideo">
                <h1 class="tit-form">TOMA BUENAS FOTOS</h1>
                <div class="sub-title">Antes de empezar mira este video con tips para tomar mejores fotos.</div>
                <br />
                <iframe class="youtubeadopt" src="https://www.youtube.com/embed/EvtRItw8cuk?autoplay=1"
                        style="width:100%;" frameborder="0" allowfullscreen></iframe>
                <div class="btn-content">
                    <a ng-href="{{root.getRoute('newpet1')}}" class="btn btn-save btn-lg">Saltar video</a>
                </div>
            </div>
        </article>
    </section>
</div>