<div class="pg-body col-md-12">
    <div class="box-edit" ng-if="::main.model.canEdit">
        <a class="btn btn-lg" ng-href="{{root.getRoute('editpet', main.model)}}"><span class="icon-edit"></span> Editar</a>
    </div>
    <section class="bkg-gray">
        <article class="content-all">
            <h1 class="tit-section name-pet col-md-12">
                {{main.model.name}}
                <a class="btn btn-sm" href="">Compartir</a>
            </h1>
            <div class="box-btn" >
                <a class="btn btn-lg btn-fixed" ng-href="{{root.getRoute('adopt0', {friendlyName: main.model.friendlyName})}}" title="Llenar formulario de adopción de {{::main.model.name}}">Adoptar</a>
                <!--<a class="btn btn-lg" href="">Apadriname</a>-->
            </div>
            <gallery-huellitas class="bkg-gray" ng-if="main.model.files" data-images="main.model.files"></gallery-huellitas>

            <ul class="data-list col-md-12">
                <li>
                    Genero
                    <b>{{::main.model.genre.text}}</b>
                </li>
                <li>
                    Tamaño
                    <b>{{::main.model.size.text}}</b>
                </li>
                <li>
                    Edad
                    <b>{{::main.model.months | age}}</b>
                </li>
                <li>
                    Esterilizada/Castrado
                    <b>{{main.model.castrated ? 'SI' : 'NO'}}</b>
                </li>
                <li>
                    Ubicación
                    <b>{{::main.model.location.name}}</b>
                </li>
                <br />
            </ul>
            <div class="col-md-12">
                <p class="inner-text" ng-bind-html="main.model.body | applyEnter"></p>
            </div>
            
            <div class="box-contact col-md-12">
                <h5>Contacto:</h5>

                <div ng-if="::main.model.shelter" class="funda-img">
                    <a ng-href="{{root.getRoute('shelter', {friendlyName: main.model.shelter.friendlyName})}}">
                        <img ng-src="{{::main.model.shelter.image.thumbnail}}" alt="Logo {{::main.model.shelter.name}}" title="Ir a {{::main.model.shelter.name}}">
                    </a>
                </div>
                <div class="funda-txt" ng-if="::main.model.shelter">
                    <h3><a ng-href="{{root.getRoute('shelter', {friendlyName: main.model.shelter.friendlyName})}}">{{::main.model.shelter.name}}</a></h3>
                    <h4>
                        {{::main.model.location.name}} / Encargado: {{::main.model.shelter.owner}} <br>
                        <span>Correo electrónico: {{::main.model.shelter.email}}</span> <br />
                        <span>Teléfono 1: {{::main.model.shelter.phone}}</span> <br />
                        <span ng-if="::main.model.shelter.phone2">Teléfono 2: {{::main.model.shelter.phone2}}</span>
                    </h4>
                </div>

                <div ng-repeat="parent in main.model.parents" class="funda-txt">
                    <h3>{{::parent.name}}</h3>
                    <h4>
                        {{::main.model.location.name}}<br>
                        <span>Correo electrónico: {{::parent.email}}</span> <br />
                        <span ng-if="::parent.phone">Teléfono 1: {{::parent.phone}}</span> <br />
                        <span ng-if="::parent.phone2">Teléfono 2: {{::parent.phone2}}</span>
                    </h4>
                </div>

                <br>
            </div>
        </article>
    </section>
    <section style="padding: 40px 0 15px;">
        <div ng-if="main.model.id" list-pets data-filter="main.filterSimilar" data-displaytype="small" data-title="main.titleSimilar"></div>
    </section>
    <section class="bkg-gray">
        <div ng-if="main.model.id" list-comments data-contentid="main.model.id"></div>
    </section>
</div>