<div class="pg-body col-md-12">
    <section class="inter-add">
        <h3>¿Tienes una huellita para dar en adopción?</h3>
        <a ng-href="{{root.getRoute('newpet0')}}" class="btn btn-lg">Publicala aquí</a>
    </section>
    <section>
        <article class="content-all">
            <h1 class="tit-section col-md-12">ENCUENTRA TU HUELLITA</h1>
            <div class="sub-title col-md-12">Solo busca por las caracteristicas del que quieras fuera tu huellita</div>
            <form class="search-box">
                <div class="col-md-2 col-sm-6">
                    <div class="type-pet">
                        <input name="petSubtype" type="radio"  ng-model="main.filter.subtype"  value="{{main.subtypes[0].id}}" ng-change="main.search()" ng-checked="main.isSubtypeChecked(0)">
                        <span class="icon-perro"></span>
                    </div>
                    <div class="type-pet">
                        <input name="petSubtype" type="radio" ng-model="main.filter.subtype" value="{{main.subtypes[1].id}}" ng-change="main.search()"  ng-checked="main.isSubtypeChecked(1)"/>
                        <span class="icon-cat"></span>
                    </div>
                    <br />
                </div>
                
                <div class="col-md-2 col-sm-6">
                    <select ng-model="main.filter.age" ng-options="age.id as age.value for age in ::main.ages" ng-change="main.search()">
                        <option value="">¿Edad?</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-6">
                    <select ng-model="main.filter.size" ng-options="size.id as size.value for size in ::main.sizes" ng-change="main.search()">
                        <option value="">¿Que Tamaño?</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-6">
                    <select ng-model="main.filter.genre" ng-options="genre.id as genre.value for genre in ::main.genres" ng-change="main.search()">
                        <option value="">¿Macho o Hembra?</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-6">
                    <input type="text" ng-model="main.filter.keyword" ng-model-options="{ debounce: 300 }" ng-change="main.search()" placeholder="Busca por nombre" />
                </div>
                <br />
            </form>
            
            <div list-pets data-filter="main.filter" data-pagingenabled="main.pagingEnabled"></div>

        </article>
    </section>
</div>