<div class="pg-body col-md-12">
    <section class="inter-add">
        <h3>¿Tienes una huellita para dar en adopción?</h3>
        <a ng-href="{{root.getRoute('newpet0')}}" class="btn btn-lg">Publicala aquí</a>
    </section>
    <section>
        <article class="content-all">
            <h1 class="tit-section col-md-12">ADOPCIÓN DE PERROS Y GATOS</h1>
            <div class="sub-title col-md-12">Solo busca por las caracteristicas del que quieras fuera tu huellita</div>
            <form class="search-box">
                <div class="col-md-2 col-sm-6">
                    <div class="type-pet">
                        <input name="petSubtype" type="radio" ng-model="main.filter.subtype" value="{{main.subtypes[0].id}}" ng-change="main.search()" ng-checked="main.isSubtypeChecked(0)">
                        <span class="icon-perro"></span>
                    </div>
                    <div class="type-pet">
                        <input name="petSubtype" type="radio" ng-model="main.filter.subtype" value="{{main.subtypes[1].id}}" ng-change="main.search()" ng-checked="main.isSubtypeChecked(1)" />
                        <span class="icon-cat"></span>
                    </div>
                    <br />
                </div>

                <div class="col-md-2 col-sm-6">
                    <select ng-model="main.filter.age" ng-options="age.id as age.value for age in ::main.ages" ng-change="main.search()">
                        <option value="">¿Edad?</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-6">
                    <select ng-model="main.filter.size" ng-options="size.id as size.value for size in ::main.sizes" ng-change="main.search()">
                        <option value="">¿Que Tamaño?</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-6">
                    <select ng-model="main.filter.genre" ng-options="genre.id as genre.value for genre in ::main.genres" ng-change="main.search()">
                        <option value="">¿Genero?</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-6">
                    <input type="text" ng-model="main.filter.keyword" ng-model-options="{ debounce: 1200 }" ng-change="main.search()" placeholder="Por nombre" />
                </div>
                <div class="col-md-2 col-sm-6">
                    <angucomplete-alt id="location"
                                      placeholder="¿Cuál ciudad?"
                                      pause="200"
                                      remote-url="/api/locations?pagesize=8&name="
                                      title-field="name"
                                      selected-object="main.changeLocation"
                                      initial-value="main.filter.locationName"
                                      field-required="true"
                                      input-name="location"
                                      field-required-class="parsley-error"
                                      remote-url-data-field="results"
                                      match-class="highlight"
                                      minlength="1"
                                      text-no-results="No se encontró la ciudad que buscas" />
                </div>
                <br />
            </form>







            <div>
                <div class="col-md-12 content-card">

                    <div ng-class="{ 'card' : !pet.isAd }" ng-repeat="pet in main.pets">

                        <div adsense-huellitas ng-if="::pet.isAd" class="ad-horizontal" ad-client="ca-pub-4989702801072526" ad-slot="7867845722" ad-format="auto" style="float:left;width:100%"> </div>
                        <div adsense-huellitas ng-if="::pet.isAd" class="ad-cube-m" ad-client="ca-pub-4989702801072526" ad-slot="7867845722" ad-format="auto"></div>
                        <div class="clear" ng-if="::pet.isAd"></div>
                        <div class="img-pet" ng-if="::!pet.isAd">
                            <a ng-href="{{::root.getRoute('pet', { friendlyName: pet.friendlyName })}}">
                                <img class="img-responsive" ng-src="{{::pet.image.thumbnail}}" alt="{{::pet.name}} mascota en adopción" title="{{::pet.name}} mascota en adopción">
                            </a>
                        </div>
                        <a ng-href="{{::root.getRoute('pet', { friendlyName: pet.friendlyName })}}" ng-if="::!pet.isAd">
                            <h3>{{::pet.name}}</h3>
                            <p ng-if="::pet.type == 'Pet'">{{::pet.genre.text}} - {{::pet.months | age}} </p>
                            <p ng-if="::pet.type == 'LostPet'">{{::pet.genre.text}} - {{::pet.startingDate | timeago}} </p>
                            <p style="display:none">{{::pet.body}}</p>
                            <button class="btn btn-lg">Conocer más</button>
                            <span class="priority">
                                <i ng-if="::pet.featured" class="icon-star"></i>
                                <span ng-if="::pet.featured">Destacado</span>
                            </span>
                        </a>
                    </div>
                    <div class="no-found" ng-if="main.pets.length == 1">
                        <span class="icon-search"></span>
                        No hay resultados que coincidan con tu búsqueda
                    </div>
                    <br />
                    <button type="button" class="btn btn-lg btn-more" ng-if="main.filter.hasNextPage" ng-click="main.nextPage()">Ver más</button>
                </div>

            </div>


        </article>
    </section>
</div>