<div class="">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Editar <small>{{main.model.name}}</small>
                    </h2>
                    <div class="nav navbar-right">
                        <span class="label" style="color:white" ng-class="[
                                              {'label-default' : main.model.status == 'Created'},
                                              {'label-danger' : main.model.status == 'Closed'},
                                              {'label-warning' : main.model.status == 'Hidden'},
                                              {'label-success' : main.model.status == 'Published'}
                                              ]">{{main.model.status}}</span>
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="x_content">
                    <br>
                    <form name="formPet" class="form-horizontal form-label-left" novalidate="novalidate" ng-submit="main.save(formPet.$valid)">
                        <div class="form-group" ng-if="main.id">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Fecha de registro
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                {{main.model.createdDate}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Nombre <span class="required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input name="name" type="text" class="form-control col-md-7 col-xs-12" ng-model="main.model.name" ng-class="main.isInvalidClass(formPet, formPet.name)" ng-change="main.getFullNameImage()" required ng-minlength="3" ng-maxlength="50" />
                                <validation-message form="formPet" field="formPet.name" ng-maxlength="50" ng-minlength="3" name="nombre"></validation-message>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                Descripción <span class="required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <textarea name="body" class="form-control" rows="3" ng-model="main.model.body" ng-class="main.isInvalidClass(formPet, formPet.body)" required ng-maxlength="500" ng-minlength="20"></textarea>
                                <validation-message form="formPet" field="formPet.body" name="descripción" ng-maxlength="500" ng-minlength="20"></validation-message>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tamaño *</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select name="size" class="form-control" ng-model="main.model.size.value" ng-options="size.id as size.value for size in ::main.sizes" ng-class="main.isInvalidClass(formPet, formPet.size)" ng-change="main.getFullNameImage()" required></select>
                                <validation-message form="formPet" field="formPet.size" name="tamaño"></validation-message>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo <span class="required">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div id="gender" class="btn-group" data-toggle="buttons">
                                    <label ng-repeat="subtype in main.subtypes track by subtype.id" ng-click="main.changeSubtype(subtype.id)" class="btn" ng-class="main.activeTooggleClass(subtype.id, main.model.subtype.value)">
                                        &nbsp; {{subtype.value}} &nbsp;
                                    </label>
                                    <input type="text" name="subtype" ng-model="main.model.subtype.value" style="display:none" required />
                                </div>
                                <validation-message form="formPet" field="formPet.subtype" name="tipo"></validation-message>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Genero <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div id="gender" class="btn-group" data-toggle="buttons">
                                    <label ng-repeat="genre in main.genres track by genre.id" ng-click="main.changeGenre(genre.id)" class="btn" ng-class="main.activeTooggleClass(genre.id, main.model.genre.value)">
                                        &nbsp; {{genre.value}} &nbsp;
                                    </label>
                                    <input type="text" name="genre" ng-model="main.model.genre.value" style="display:none" required />
                                </div>
                                <validation-message form="formPet" field="formPet.genre" name="genero"></validation-message>
                            </div>
                        </div>

                        <div class="form-group" >
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Raza</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div>
                                    <angucomplete-alt id="breed"
                                                      placeholder="Ingresar Raza"
                                                      pause="400"
                                                      remote-url="/api/customtables/{{main.breedTable}}/rows?pagesize=8&keyword="
                                                      title-field="value"
                                                      selected-object="main.changeBreed"
                                                      initial-value="main.model.breed.text"
                                                      input-class="form-control col-md-9 col-xs-12 angucomplete-bootstrap"
                                                      field-required="true"
                                                      input-name="breed"
                                                      field-required-class="parsley-error"
                                                      remote-url-data-field="results"
                                                      match-class="highlight"
                                                      minlength="1"/>
                                </div>
                                <validation-message form="formPet" field="formPet.location" name="ubicación"></validation-message>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-6">
                                Edad <span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <input type="number" class="form-control col-md-7 col-xs-12" ng-model="main.years" placeholder="Años" ng-change="main.changeMonths()" /> años
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <input type="number" class="form-control col-md-7 col-xs-12" ng-model="main.months" placeholder="Meses" ng-change="main.changeMonths()" ng-class="main.isInvalidClass(formPet, formPet.months)" /> meses
                            </div>
                            <input type="number" name="months" ng-model="main.model.months" style="display:none" required ng-min="1" />
                            <validation-message form="formPet" field="formPet.months" ng-min="1" name="edad"></validation-message>
                        </div>
                        <div class="form-group" >
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Ciudad</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div>
                                    <angucomplete-alt id="location"
                                                      placeholder="Ingresar Ubicación"
                                                      pause="400"
                                                      remote-url="/api/locations?pagesize=8&name="
                                                      title-field="name"
                                                      selected-object="main.changeLocation"
                                                      initial-value="main.model.location.name"
                                                      input-class="form-control col-md-9 col-xs-12 angucomplete-bootstrap"
                                                      field-required="true"
                                                      input-name="location"
                                                      field-required-class="parsley-error"
                                                      remote-url-data-field="results"
                                                      match-class="highlight"
                                                      minlength="1"/>
                                </div>
                                <validation-message form="formPet" field="formPet.location" name="ubicación"></validation-message>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha de perdido</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="form-control" type="text" name="startingDate" ng-model="main.model.startingDate" datepicker-huellitas required/>
                            </div>
                            <validation-message form="formPet" field="formPet.startingDate" name="fecha de perdido"></validation-message>
                        </div>

                        <div class="x_title">
                            <h2>Opciones adicionales</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link" ng-click="main.toogleShowMore()">Ver más</a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div ng-if="main.showMoreActive">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Estado</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control" ng-model="main.model.status" ng-options="status.enum as status.name for status in ::main.statusTypes"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Destacado</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div id="gender" class="btn-group" data-toggle="buttons">
                                        <label ng-click="main.changeFeatured(true)" class="btn" ng-class="main.activeTooggleClass(true, main.model.featured)">
                                            &nbsp; Si &nbsp;
                                        </label>
                                        <label ng-click="main.changeFeatured(false)" class="btn" ng-class="main.activeTooggleClass(false, main.model.featured)">
                                            &nbsp; No &nbsp;
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha de cierre</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input class="form-control" type="text" name="closingDate" ng-model="main.model.closingDate" datepicker-huellitas />
                                </div>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a type="submit" class="btn btn-default" href="/admin/pets">Cancelar</a>
                                <button type="submit" class="btn btn-success">Guardar</button>
                                <button type="submit" class="btn btn-success" ng-click="main.saveAndContinue()">Guardar y continuar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12" ng-if="main.showPicturesActive">
            <gallery-huellitas ng-if="main.canShowGallery()" images="main.model.files" title="Imagenes" ondelete="main.removeImage" onadded="main.imageAdded" defaultname="{{main.defaultNameImage}}" data-width="120" data-height="80" saveonreorder="main.saveonreorder" contentid="main.id"></gallery-huellitas>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 class="ng-binding">Padrinos</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <angucomplete-alt id="addParent"
                                      placeholder="Agregar padrino"
                                      pause="400"
                                      remote-url="/api/users?keyword="
                                      remote-url-data-field="results"
                                      title-field="name"
                                      selected-object="main.addParent"
                                      input-class="form-control col-md-9 col-xs-12 angucomplete-bootstrap"
                                      match-class="highlight"
                                      minlength="1" />

                    <table class="table jambo_table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Teléfono</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="parent in main.parents">
                                <td>{{::parent.name}}</td>
                                <td>{{::parent.email}}</td>
                                <td>{{::parent.phone}}</td>
                                <td><button type="button" class="btn btn-danger btn-xs" ng-click="main.deleteParent(parent)">Eliminar</button></td>
                            </tr>
                            <tr ng-if="!main.parents.length">
                                <td colspan="5">No se hay padrinos asociados</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



    </div>

</div>
