<div class="col-md-55">
    <div class="thumbnail">
        <div class="image view view-first">
            <img class="mainImage" style="width: 100%; display: block;" src="{{image}}" alt="{{title}}">
            <div class="mask">
                <p>{{title}}</p>
                <div class="tools tools-bottom">

                    <a href="{{image}}" target="_blank"><i class="fa fa-link"></i></a>
                    {{#if canEdit}}
                        <a href="#"><i class="fa fa-pencil"></i></a>
                    {{/if}}
                    {{#if canDelete}}
                    <a href="#"><i class="fa fa-times"></i></a>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="caption">
            <p>{{title}}</p>
        </div>
    </div>
</div>