<div class="pg-body col-md-12">
    <section>
        <article class="content-all">
            <div class="content-form" >
                <h1 class="tit-form">¿BUSCAS O ENCONTRASTE UNA MASCOTA PERDIDA?</h1>
                <div class="sub-title col-md-12">Este espacio está enfocado a todas las personas que necesiten encontrar su mascota extraviada y a aquellos que hayan encontrado una mascota perdida. El objetivo es agilizar el proceso de búsqueda a través del trabajo en red lo que muchas veces logra un final feliz. Registra los datos solicitados según el caso para que Huellitas sin Hogar publique la información.</div>
                <form name="main.form" novalidate ng-submit="main.save()">
                    <div class="central-pet">
                        <div class="type-pet">
                            <input type="radio" name="subtype" ng-model="main.model.subtype.value" value="{{main.subtypes[0].id}}" ng-checked="main.isSubtypeChecked(0)" ng-change="main.changeSubtype(0)" required>
                            <span class="icon-perro"></span>
                        </div>
                        <div class="type-pet">
                            <input type="radio" name="subtype" ng-model="main.model.subtype.value" value="{{main.subtypes[1].id}}" ng-checked="main.isSubtypeChecked(1)" ng-change="main.changeSubtype(1)" required>
                            <span class="icon-cat"></span>
                        </div>
                        <br>
                        <span class="error" ng-if="main.form.$submitted && main.form.subtype.$invalid">Selecciona si es perro ó gato</span>
                    </div>
                    <div class="col-sm-6 col-xs-12" ng-class="{ 'bad' : main.form.$submitted && main.form.name.$invalid }">
                        <input type="text" name="name" placeholder="¿A que nombre responde?" ng-model="main.model.name" ng-maxlength="50" ng-minlength="2" ng-change="main.getFullNameImage()" required>
                        <span class="error" ng-if="main.form.$submitted && main.form.name.$error.required">El nombre es obligatorio</span>
                        <span class="error" ng-if="main.form.$submitted && main.form.name.$error.maxlength">El tamaño máximo del nombre son 50 caracteres</span>
                        <span class="error" ng-if="main.form.$submitted && main.form.name.$error.minlength">El tamaño minimo del nombre son 2 caracteres</span>
                        <span class="error" ng-if="!main.form.$submitted || main.form.name.$valid"></span>
                    </div>
                    <div class="col-sm-6 col-xs-12" ng-class="{ 'bad' : main.form.$submitted && main.form.genre.$invalid }">
                        <select name="genre" ng-model="main.model.genre.value" ng-options="genre.id as genre.value for genre in ::main.genres" ng-change="main.getFullNameImage()" required>
                            <option value="">Género del animal</option>
                        </select>
                        <span class="error" ng-if="main.form.$submitted && main.form.genre.$error.required">El género de la mascota es obligatorio</span>
                        <span class="error" ng-if="!main.form.$submitted || main.form.genre.$valid"></span>
                    </div>
                    <div class="col-sm-6 col-xs-12" ng-class="{ 'bad' : main.form.$submitted && main.form.breed.$invalid }">
                        <angucomplete-alt id="breed"
                                          placeholder="Busca y selecciona la raza"
                                          pause="200"
                                          remote-url="/api/customtables/{{main.breedTable}}/rows?pagesize=8&keyword="
                                          title-field="value"
                                          selected-object="main.changeBreed"
                                          initial-value="main.model.breed.text"
                                          field-required="true"
                                          input-name="breed"
                                          field-required-class="parsley-error"
                                          remote-url-data-field="results"
                                          match-class="highlight"
                                          minlength="1"
                                          text-no-results="No se encontró la raza que buscas" />
                        <span class="error" ng-if="main.form.$submitted && main.form.breed.$invalid">Ingresa la raza del animal</span>
                        <span class="error" ng-if="!main.form.$submitted || main.form.breed.$valid"></span>
                    </div>

                    

                    <div class="col-sm-6 col-xs-12" ng-class="{ 'bad' : main.form.$submitted && main.form.size.$invalid }">
                        <select name="size" ng-model="main.model.size.value" ng-options="size.id as size.value for size in ::main.sizes" ng-change="main.getFullNameImage()" required>
                            <option value="">Tamaño</option>
                        </select>
                        <span class="error" ng-if="main.form.$submitted && main.form.size.$invalid">Ingresa el tamaño</span>
                        <span class="error" ng-if="!main.form.$submitted || main.form.size.$valid"></span>
                    </div>
                    <div class="col-sm-6 col-xs-12" ng-class="{ 'bad' : main.form.$submitted && main.form.username.$invalid }">
                        <input type="text" name="username" ng-model="main.model.user.name" placeholder="Nombre del contacto" maxlength="100" required ng-disabled="{{main.currentUser.id}}">
                        <span class="error" ng-if="main.form.$submitted && main.form.username.$invalid">Ingresa tu nombre</span>
                        <span class="error" ng-if="!main.form.$submitted || main.form.username.$valid"></span>
                    </div>
                    <div class="col-sm-6 col-xs-12" ng-class="{ 'bad' : main.form.$submitted && main.form.userphone.$invalid }">
                        <input type="text" name="userphone" ng-model="main.model.user.phone" placeholder="Teléfono de contacto" maxlength="15" ng-minlength="7" pattern="[0-9 ]{7,}" ng-disabled="!main.canChangePhone" required>
                        <span class="error" ng-if="main.form.$submitted && main.form.userphone.$error.required">Ingresa tu número telefónico</span>
                        <span class="error" ng-if="main.form.$submitted && main.form.userphone.$error.pattern">Ingresa tu número telefónico válido</span>
                        <span class="error" ng-if="!main.form.$submitted || main.form.userphone.$valid"></span>
                    </div>
                    <div class="col-sm-6 col-xs-12" ng-class="{ 'bad' : main.form.$submitted && main.form.location.$invalid }">
                        <div>
                            <angucomplete-alt id="location"
                                              placeholder="Busca tu ciudad y seleccionala"
                                              pause="200"
                                              remote-url="/api/locations?pagesize=8&name="
                                              title-field="name"
                                              selected-object="main.changeLocation"
                                              initial-value="main.model.location.name"
                                              field-required="true"
                                              input-name="location"
                                              field-required-class="parsley-error"
                                              remote-url-data-field="results"
                                              match-class="highlight"
                                              minlength="1"
                                              text-no-results="No se encontró la ciudad que buscas" />
                        </div>
                        <span class="error" ng-if="!main.form.$submitted || main.form.location.$valid"></span>
                        <span class="error" ng-if="main.form.$submitted && main.form.location.$invalid">Ingresa la ubicación</span>
                    </div>
                    <div class="col-sm-6 col-xs-12" ng-class="{ 'bad' : main.form.$submitted && main.form.startingDate.$invalid }">
                        <input type="text" placeholder="Fecha en que se perdió o encontraste" name="startingDate" ng-model="main.model.startingDate" required datepicker-huellitas  data-maxdate="{{main.maxdate}}" autocomplete="off" />
                        <span class="error" ng-if="!main.form.$submitted || main.form.startingDate.$valid"></span>
                        <span class="error" ng-if="main.form.$submitted && main.form.startingDate.$error.required">Selecciona la fecha en que se perdió</span>
                    </div>
                    <br>
                    <div class="col-md-12" ng-class="{ 'bad' : main.form.$submitted && main.form.body.$invalid }">
                        <textarea placeholder="Descripción" name="body" ng-model="main.model.body" required maxlength="1500" ng-minlength="100"></textarea>
                        <span class="error" ng-if="!main.form.$submitted || main.form.body.$valid"></span>
                        <span class="error" ng-if="main.form.$submitted && main.form.body.$error.required">Ingresa una descripción de la mascota</span>
                        <span class="error" ng-if="main.form.$submitted && main.form.body.$error.minlength">La descripción debe tener al menos 100 caracteres</span>
                    </div>
                    <div class="col-md-12" ng-if="main.canShowGallery()">
                        <label>Fotos</label>
                        <div class="images-dropzone">
                            <div class="file-upload-drop-text">
                                <p>
                                    <i class="icon-photo"></i>
                                </p>
                            </div>
                            <div class="file-upload-button">
                                <button class="btn btn-white btn-block btn-lg" type="button">Carga {{main.model.files.length ? 'más' : 'tus'}} fotos</button>
                                <input type="file" name="files" multiple="multiple" onadded="main.imageAdded" onprogress="main.imageOnProgress" data-defaultname="{{main.defaultNameImage}}" fileupload-huellitas validextensions="\.(gif|jpg|jpeg|tiff|png|bmp)$" validatehorizontal="1" accept="image/*">
                            </div>
                            <br>
                        </div>
                        <div class="alert alert-info" ng-if="main.model.files.length" role="alert">Estas son miniaturas de tus imágenes y puedes reordenarlas según tu preferencia. La primera imagen será considerada la imagen principal de tu publicación.</div>
                    </div>
                    <ul class="all-preview" ng-if="main.canShowGallery()">
                        <li ng-repeat="file in main.model.files" draggable="true" data-id="file.id" draggable-content-file callback="main.reorder" files="main.model.files" saveonchange="{{main.friendlyName !== undefined}}" contentid="main.model.id">
                            <div class="preview-img">
                                <div class="delete-img" ng-click="main.removeFile(file)">
                                    <span class="icon-close"></span>
                                </div>
                                <div class="principal" ng-if="$index == 0">Principal</div>
                                <img ng-src="{{file.thumbnail}}">
                            </div>
                        </li>
                        <li ng-repeat="progressFile in main.progressFiles track by $index" ng-if="progressFile < 101">
                            <div class="progress" >
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{progressFile}}"
                                     aria-valuemin="0" aria-valuemax="100" style="width:{{progressFile}}%">
                                    <span class="sr-only">{{progressFile}}% Complete</span>
                                </div>
                            </div>
                            
                        </li>
                        <br>
                    </ul>
                    <div class="btn-content">
                        <a ng-href="{{::root.getRoute('lostpets')}}" class="btn btn-cancel btn-lg">Cancelar</a>
                        <button type="submit" class="btn btn-save btn-lg">{{main.friendlyName ? 'Actualizar' : 'Guardar'}}</button>
                        <span class="error" ng-if="main.form.$submitted && main.form.$invalid">Revisa que todos los campos estén correctamente diligenciados</span>
                    </div>
                </form>
            </div>
        </article>
    </section>
</div>