<div class="pg-body col-md-12">
    <div class="box-edit" ng-if="::main.model.canEdit">
        <a class="btn btn-lg" ng-href="{{root.getRoute('editpet', main.model)}}"><span class="icon-edit"></span> Editar</a>
    </div>
    <section >
        <article class="content-all">
            <h1 class="tit-section name-pet col-md-12">
                {{main.model.name}}
                <a class="btn btn-sm" href="">Compartir</a>
            </h1>
            <gallery-huellitas class="bkg-gray" ng-if="main.model.files" data-images="main.model.files"></gallery-huellitas>

            <ul class="data-list col-md-12">
                <li>
                    Genero
                    <b>{{::main.model.genre.text}}</b>
                </li>
                <li>
                    Tamaño
                    <b>{{::main.model.size.text}}</b>
                </li>
                <li>
                    Ubicación
                    <b>{{::main.model.location.name}}</b>
                </li>
                <br />
            </ul>
            <div class="col-md-12">
                <p class="inner-text" ng-bind-html="main.model.body | applyEnter"></p>
            </div>

            <div class="box-contact col-md-12">
                <h5>Contacto:</h5>


                <div ng-repeat="parent in main.model.parents" class="funda-txt">
                    <h3>{{::parent.name}}</h3>
                    <h4>
                        {{::main.model.location.name}}<br>
                        <span>Correo electrónico: {{::parent.email}}</span> <br />
                        <span ng-if="::parent.phone">Teléfono 1: {{::parent.phone}}</span> <br />
                        <span ng-if="::parent.phone2">Teléfono 2: {{::parent.phone2}}</span>
                    </h4>
                </div>

                <br>
            </div>
        </article>
    </section>
    <section class="bkg-gray">
        <div ng-if="main.model.id" list-comments data-contentid="main.model.id"></div>
    </section>
</div>