<div class="pg-body col-md-12">
    <section class="inter-add">
        <h3>¿BUSCAS O ENCONTRASTE UNA MASCOTA PERDIDA?</h3>
        <p class="content-all">Este espacio busca crear una red de ayuda para encontrar perros y gatos perdidos a través de la publicación del caso o con el reporte de mascotas encontradas para agilizar ese final feliz tan esperado en este tipo de situaciones. Solo debes registrar los datos solicitados según el caso para que Huellitas sin Hogar publique y difunda la infomacion.</p>
        <a class="btn btn-lg" ng-href="{{::root.getRoute('newlostpet')}}">Publícala aquí</a>
    </section>
    <section>
        <article class="content-all">
            <h1 class="tit-section col-md-12">MASCOTAS PERDIDAS</h1>
            <div class="sub-title col-md-12">Selecciona las características de tu perro o gato perdido</div>
            <form class="search-box ng-pristine ng-valid">
                <div class="col-md-3 col-sm-6">
                    <div class="type-pet">
                        <input name="petSubtype" type="radio" ng-model="main.filter.subtype" value="{{main.subtypes[0].id}}" ng-checked="main.isSubtypeChecked(0)" ng-change="main.search()">
                        <span class="icon-perro"></span>
                    </div>
                    <div class="type-pet">
                        <input name="petSubtype" type="radio" ng-model="main.filter.subtype" value="{{main.subtypes[1].id}}" ng-checked="main.isSubtypeChecked(1)" ng-change="main.search()" />
                        <span class="icon-cat"></span>
                    </div>
                    <br />
                </div>
                <div class="col-md-3 col-sm-6">
                    <input type="text" ng-model="main.filter.keyword" ng-model-options="{ debounce: 300 }" ng-change="main.search()" placeholder="Busca por nombre" />
                </div>
                <div class="col-md-3 col-sm-6">
                    <select ng-model="main.filter.genre" ng-options="genre.id as genre.value for genre in ::main.genres" ng-change="main.search()">
                        <option value="">¿Macho o Hembra?</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-6">
                    <select ng-model="main.filter.size" ng-options="size.id as size.value for size in ::main.sizes" ng-change="main.search()">
                        <option value="">¿Que Tamaño?</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-6">
                    <input type="text" onkeydown="return false"  placeholder="Perdido desde" name="fromStartingDate" ng-model="main.filter.fromStartingDate" ng-change="main.search()" datepicker-huellitas />
                </div>
                <div class="col-md-3 col-sm-6">
                    <angucomplete-alt id="location"
                                      placeholder="Busca la ciudad y seleccionala"
                                      pause="200"
                                      remote-url="/api/locations?pagesize=8&name="
                                      title-field="name"
                                      selected-object="main.changeLocation"
                                      initial-value="main.filter.locationName"
                                      field-required="true"
                                      input-name="location"
                                      field-required-class="parsley-error"
                                      remote-url-data-field="results"
                                      match-class="highlight"
                                      minlength="1"
                                      text-no-results="No se encontró la ciudad que buscas" />
                </div>
                <div class="col-md-3 col-sm-6">
                    <angucomplete-alt id="breed"
                                      placeholder="Busca la raza y seleccionala"
                                      pause="200"
                                      remote-url="/api/customtables/{{main.breedTable}}/rows?pagesize=8&keyword="
                                      title-field="value"
                                      selected-object="main.changeBreed"
                                      initial-value="main.filter.breedName"
                                      field-required="true"
                                      input-name="breed"
                                      field-required-class="parsley-error"
                                      remote-url-data-field="results"
                                      match-class="highlight"
                                      minlength="1"
                                      text-no-results="No se encontró la raza que buscas" />
                </div>
                <div class="col-md-3 col-sm-12">
                    <button type="button" class="btn btn-lg	" ng-click="main.search()">Buscar</button>
                </div>
                <br>
            </form>
            <div class="content-lost col-md-12">
                <div ng-if="main.filter" list-pets data-filter="main.filter" data-displaytype="small" data-pagingenabled="main.pagingEnabled" ></div>
            </div>
        </article>
    </section>
</div>