<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog login" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="tit-modal">Comparte</h4>
                <button type="button" class="close" aria-label="Close" ng-click="modal.close()">
                    <span class="icon-close" aria-hidden="true"></span>
                </button>
            </div>
            <div class="share-btns">
                <a class="social-circle share"  ng-click="modal.share('facebook')">
                    <span></span>
                    <b class="icon-face"></b>
                </a>
                <a class="social-circle share" ng-click="modal.share('twitter')">
                    <span></span>
                    <b class="icon-twt"></b>
                </a>
                <a class="social-circle share" ng-click="modal.share('whatsapp')">
                    <span></span>
                    <b class="icon-whatsapp"></b>
                </a>
            </div>
        </div>
    </div>
</div>