<div class="pg-body col-md-12">
    <div class="box-edit">
        <a ng-if="::main.model.canEdit" class="btn btn-lg" ng-href="{{root.getRoute('editshelter', {friendlyName:main.model.friendlyName})}}"><span class="icon-edit"></span> Editar</a>
        <a class="btn btn-lg" ng-href="{{root.getRoute('mypets', { shelter: main.model.id})}}">Mis huellitas</a>
    </div>
    <section class="bkg-gray">
        <article class="content-all">
            <h1 class="tit-section name-pet col-md-12">
                {{::main.model.name}}
                <a class="btn btn-sm"  ng-if="main.model.id" href="#" share-huellitas url="main.model.fullRoute">Compartir</a>
            </h1>
            <gallery-huellitas class="bkg-gray" ng-if="main.model.files" data-images="main.model.files"></gallery-huellitas>
            <ul class="data-list col-md-12">
                <li>
                    Ciudad
                    <b>{{::main.model.location.name}}</b>
                </li>
                <li>
                    Dirección
                    <b>{{::main.model.address}}</b>
                </li>
                <li>
                    Encargado
                    <b>{{::main.model.owner}}</b>
                </li>
                <li>
                    Correo
                    <b>{{::main.model.email}}</b>
                </li>
                <li>
                    Teléfono
                    <b>{{::main.model.phone}}</b>
                </li>
                <li ng-if="main.model.phone2">
                    Teléfono 2
                    <b>{{::main.model.phone2}}</b>
                </li>
                <br>
            </ul>
            <div class="col-md-12">
                <p class="inner-text">{{::main.model.body}}</p>
            </div>
            <div class="redes">
                <h3>Nuestras redes:</h3>
                <a ng-if="::main.model.facebook" ng-href="{{::main.model.facebook}}" title="Visita el Facebook de {{::main.model.name}}" target="_blank"><span class="icon-face"></span></a>
                <a ng-if="::main.model.instagram" ng-href="{{::main.model.instagram}}" title="Visita el Instagram de {{::main.model.name}}" target="_blank"><span class="icon-insta"></span></a>
                <a ng-if="::main.model.twitter" ng-href="{{::main.model.twitter}}" title="Visita el Twitter de {{::main.model.name}}" target="_blank"><span class="icon-twt"></span></a>
            </div>
        </article>
    </section>
    <section>
        <article class="content-all">
            <h2 class="tit-section col-md-12">NUESTRAS HUELLITAS</h2>
            <br>
            <div ng-if="main.filterMyPets" list-pets data-filter="main.filterMyPets" data-viewall="root.getRoute('pets', { shelter: main.model.id })" data-title="main.titleMyPets"></div>
            <!--<a ng-href="{{root.getRoute('pets', { shelter: main.model.id })}}" class="btn-more btn btn-lg" title="Ver todas las mascotas de {{::main.model.name}}">Ver todos</a>-->
        </article>
    </section>
    <section class="bkg-gray">
        <div ng-if="main.model.id" list-comments data-contentid="main.model.id"></div>
    </section>
    <!--<div class="content-map"></div>-->
</div>