<div class="pg-body col-md-12">
    <section class="inter-add">
        <h3>¿Tienes una fundación?</h3>
        <a ng-href="{{root.getRoute('newshelter')}}" class="btn btn-lg">Registrate aquí</a>
    </section>
    <section>
        <article class="content-all">
          <h1 class="tit-section col-md-12">FUNDACIONES REGISTRADAS</h1>
          <div class="sub-title col-md-12">Busca la fundación que se ubique más cerca a tu hogar y encuentra tu mascota para toda la vida.</div>
          <form class="search-box">
              <div class="col-md-4 col-sm-6">
                  <angucomplete-alt id="location"
                                    placeholder="Busca la ciudad y selecciónala"
                                    pause="200"
                                    remote-url="/api/locations?pagesize=8&name="
                                    title-field="name"
                                    selected-object="main.changeLocation"
                                    initial-value="main.filter.locationName"
                                    field-required="true"
                                    input-name="location"
                                    field-required-class="parsley-error"
                                    remote-url-data-field="results"
                                    match-class="highlight"
                                    minlength="1"
                                    text-no-results="No se encontró la ciudad que buscas" />
              </div>
              <div class="col-md-4 col-sm-6">
                  <input type="text" name="name" ng-model="main.filter.keyword" placeholder="Busca por nombre" />
              </div>
              <div class="col-md-2 col-sm-12">
                  <button type="button" class="btn btn-lg	" ng-click="main.search()">Buscar</button>
              </div>
              <br>
          </form>
        </article>
        <div class="ad-horizontal-m" adsense-huellitas  ad-client="ca-pub-4989702801072526" ad-slot="9311266825" ad-format="auto"></div>
        <article class="content-all">
          <div class="col-md-12">
            <div class="ad-horizontal" adsense-huellitas  ad-client="ca-pub-4989702801072526" ad-slot="9311266825" ad-format="auto"></div>
            <div class="w-ads">
              <ul class="content-funda">
                  <li ng-repeat="shelter in main.shelters" class="card">
                      <div class="funda-img">
                          <a ng-href="{{root.getRoute('shelter', {friendlyName : shelter.friendlyName})}}"><img ng-src="{{::shelter.image.thumbnail}}" alt="Logo {{::shelter.name}}"></a>
                      </div>
                      <a class="funda-txt" ng-href="{{root.getRoute('shelter', {friendlyName : shelter.friendlyName})}}">
                          <h3>{{::shelter.name}}</h3>
                          <h4>
                              {{::shelter.location.name}} / Responsable: {{::shelter.owner}} <br>
                              Telefono: {{::shelter.phone}} <text ng-if="::shelter.phone2">Telefóno 2: {{::shelter.phone2}}</text>
                          </h4>
                          <p>{{::shelter.body | limitTo:210}}</p>
                          <button type="button" class="btn btn-lg buttonmore">Conocer más</button>
                      </a>
                      <br>
                  </li>
                  <div class="ad-cube-m" adsense-huellitas ad-client="ca-pub-4989702801072526" ad-slot="9311266825" ad-format="auto"></div>
                  <button type="button" class="btn btn-lg btn-more" ng-if="main.hasNextPage" ng-click="main.more()">Ver más</button>
              </ul>
            </div>
            <div class="col-ads">
              <div class="ad-cube" adsense-huellitas  ad-client="ca-pub-4989702801072526" ad-slot="4251022586" ad-format="auto"></div>
              <div class="ad-cube" adsense-huellitas  ad-client="ca-pub-4989702801072526" ad-slot="8602520507" ad-format="auto"></div>
            </div>
            <br/>
            <div class="ad-horizontal" adsense-huellitas  ad-client="ca-pub-4989702801072526" ad-slot="5672416471" ad-format="auto"></div>
          </div>
        </article>
        <div class="ad-horizontal-m"  adsense-huellitas  ad-client="ca-pub-4989702801072526" ad-slot="5672416471" ad-format="auto"></div>
        <article class="content-all">
          <div class="no-found" ng-if="!main.shelters.length">
              <span class="icon-search"></span>
              No hay resultados que coincidan con tu búsqueda
          </div>
        </article>
    </section>
</div>