

<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
    <div class="col-md-6 col-sm-6 col-xs-9">
        <input type="text" class="form-control txtName" placeholder="Nombre" value="{{name}}">
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">
        Descripción<span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-9">
        <textarea class="form-control txtBody" rows="3" placeholder="rows=&quot;3&quot;">{{body}}</textarea>
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Refugio</label>
    <div class="col-md-6 col-sm-6 col-xs-9">
        <select class="form-control ddlShelter"></select>
    </div>
</div> 
<div class="item form-group noShelter" style="display:{{#if shelter.id}}none{{else}}block{{/if}}">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Ciudad</label>
    <div class="col-md-6 col-sm-6 col-xs-9">
        <input type="text" class="form-control txtLocation" />
        <input type="hidden" class=".hiddenLocation" />
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Tamaño</label>
    <div class="col-md-6 col-sm-6 col-xs-9">
        <select class="form-control ddlSize"></select>
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo de Animal</label>
    <div class="col-md-6 col-sm-6 col-xs-9">
        <select class="form-control ddlSubtype"></select>
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Genero</label>
    <div class="col-md-6 col-sm-6 col-xs-9">
        <select class="form-control ddlGenre"></select>
    </div>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Edad</label>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <input type="number" class="form-control txtYears" placeholder="Años">
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <input type="number" class="form-control txtMonths" placeholder="Meses">
        <div class="errorMonths"></div>
    </div>
</div>
<div class="item form-group">
    <label class="col-md-3 col-sm-3 col-xs-12 control-label">
        Esterilizado
    </label>

    <div class="col-md-6 col-sm-6 col-xs-9">
        <div class="checkbox">
            <label>
                <input class="chkCastrated" type="checkbox" value="">
            </label>
        </div>
    </div>
</div>
<div class="x_title">
    <h2> Opciones Adicionales <small class="moreOptions">ver</small> </h2>
    <div class="clearfix"></div>
</div>
<div class="divMoreOptions" style="display:none">
    <div class="item form-group noShelter">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Responsable</label>
        <div class="col-md-6 col-sm-6 col-xs-9">
            <input type="text" class="form-control txtUser" />
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Orden</label>
        <div class="col-md-6 col-sm-6 col-xs-9">
            <input type="number" class="form-control txtDisplayOrder" placeholder="Default Input" value="{{displayOrder}}">
        </div>
    </div>

    <div class="item form-group">
        <label class="col-md-3 col-sm-3 col-xs-12 control-label">
            Destacado
        </label>

        <div class="col-md-6 col-sm-6 col-xs-9">
            <div class="checkbox">
                <label>
                    <input class="chkFeatured" type="checkbox" value="">
                </label>
            </div>
        </div>
    </div>
    <div class="item form-group noShelter">
        <label class="col-md-3 col-sm-3 col-xs-12 control-label">
            Autorespuesta
        </label>

        <div class="col-md-6 col-sm-6 col-xs-9">
            <div class="checkbox">
                <label>
                    <input class="chkAutoreply" type="checkbox" value="">
                </label>
            </div>
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Estado</label>
        <div class="col-md-6 col-sm-6 col-xs-9">
            <select class="form-control ddlStatusType"></select>
        </div>
    </div>
</div>



<div id="divLoadFile">Cargar archivo</div>


<div id="posFile"></div>
<div id="gallery-region"></div>