<div class="content-card col-md-12">
    <div class="card" ng-repeat="pet in listPet.pets">
        <div class="img-pet">
            <a ng-href="::pet.friendlyName">
                <img class="img-responsive" ng-src="{{::pet.image.thumbnail}}">
            </a>
        </div>
        <a href="interna-pet.html">
            <h3>{{::pet.name}}</h3>
            <p>{{::pet.genre.text}} - {{::pet.months | age}} </p>
            <p style="display:none">{{::pet.body}}</p>
            <button class="btn btn-lg">Conocer más</button>
            <span class="priority">
                <i ng-if="::pet.featured" class="icon-star"></i>
                <span ng-if="::pet.featured">Caso prioritario</span>
            </span>
        </a>
    </div>
    <br />
</div>
