<div >
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Animales <a class="btn btn-success" href="/admin/pets/new" ><i class="fa fa-plus"></i> Nuevo Animal</a></h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <br>
                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                        <div class="form-group col-md-6">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Nombre
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" ng-model="main.filter.keyword" ng-change="main.changePage(0)" ng-model-options="{ debounce : 1200 }">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Fundación
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <angucomplete-alt id="shelter"
                                                  placeholder="Ingresar refugio"
                                                  pause="400"
                                                  remote-url="/api/shelters?keyword="
                                                  remote-url-data-field="results"
                                                  title-field="name"
                                                  selected-object="main.shelterChanged"
                                                  input-class="form-control col-md-9 col-xs-12 angucomplete-bootstrap"
                                                  match-class="highlight"
                                                  minlength="1"/>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Estado
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" ng-model="main.filter.status" ng-options="status.enum as status.name for status in main.statusTypes" ng-change="main.changePage(0)">
                                    <option value="">-</option>
                                </select>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Imagen</th>
                                    <th class="column-title">Nombre</th>
                                    <th class="column-title hidden-xs">Fecha Creación</th>
                                    <th class="column-title hidden-xs">Encargado</th>
                                    <th class="column-title">Estado</th>
                                    <th class="column-title no-link last">
                                        <span class="nobr">Opciones</span>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="pet in main.pets" class="pointer" ng-class-odd="odd" ng-class-even="even">
                                    <td><img ng-src="{{::pet.image.thumbnail}}" title="{{::pet.name}}" width="40" height="40" /></td>
                                    <td><span title="Filtrar por {{::pet.name}}" ng-click="main.filterByPet(pet)">{{::pet.name}}</span></td>
                                    <td class="hidden-xs">{{::pet.createdDate}}</td>
                                    <td class="hidden-xs">{{::pet.shelter ? pet.shelter.name : ''}}</td>
                                    <td>
                                        <span class="label" ng-class="::[
                                              {'label-default' : pet.status == 'Created'},
                                              {'label-danger' : pet.status == 'Closed'},
                                              {'label-info' : pet.status == 'Hidden'},
                                              {'label-warning' : pet.status == 'Rejected'},
                                              {'label-success' : pet.status == 'Published'}
                                              ]" ng-click="main.filterByStatus(pet)" title="Filtrar por estado">{{::pet.status}}</span>
                                    </td>
                                    <td class="last">
                                            <a href="/admin/pets/{{::pet.id}}/edit" type="button" class="btn btn-primary btn-xs">Editar</a>
                                        <a href="{{::root.getRoute('pet', {friendlyName: pet.friendlyName})}}" class="btn btn-info btn-xs hidden-xs">Ver</a>
                                    </td>
                                </tr>
                                <tr ng-show="!main.pets.length">
                                    <td colspan="7"  class="last">
                                     No hay registros
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <list-pager class="pagerDirective"></list-pager>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>