<div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Logs</h2> &nbsp;
                    <button class="btn btn-danger" ng-click="main.cleanLog()">Limpiar log</button>
                    <div class="clearfix"></div>
                    
                </div>

                <div class="x_content">
                    <br>
                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Filtro por mensaje
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control col-md-7 col-xs-12" ng-model="main.filter.keyword" ng-change="main.getLogs()" ng-model-options="{ debounce : 1200 }">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Id</th>
                                    <th class="column-title">Mensaje</th>
                                    <th class="column-title">Fecha</th>
                                    <th class="column-title no-link last">
                                        <span class="nobr">Opciones</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="log in main.logs" class="pointer" ng-class-odd="odd" ng-class-even="even">
                                    <td>{{::log.id}}</td>
                                    <td>{{::log.shortMessage}}</td>
                                    <td>{{::log.creationDate}}</td>
                                    <td class="last">
                                        <button  type="button" class="btn btn-primary btn-xs" ng-click="main.showLog(log)" >Ver</button>
                                    </td>
                                </tr>
                                <tr ng-show="!main.logs.length">
                                    <td colspan="5" class="last">
                                        No hay registros
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <list-pager class="pagerDirective"></list-pager>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>