<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Editar <small>{{main.model.name}}</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form name="formUser" class="form-horizontal form-label-left" novalidate="novalidate" ng-submit="main.save(formUser.$valid)">
                        <div class="form-group" ng-if="main.id">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Fecha de registro
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                               {{main.model.createdDate}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Nombre <span class="required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input name="name" type="text" class="form-control col-md-7 col-xs-12" ng-model="main.model.name" ng-class="main.isInvalidClass(formUser, formUser.name)" required ng-maxlength="100" ng-minlength="5" />
                                <validation-message form="formUser" field="formUser.name" ng-maxlength="100" ng-minlength="5" name="nombre"></validation-message>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                Email <span class="required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input name="email" type="email" class="form-control col-md-7 col-xs-12" ng-model="main.model.email" ng-class="main.isInvalidClass(formUser, formUser.email)" required />
                                <validation-message form="formUser" field="formUser.email" name="correo"></validation-message>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Teléfono 
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input name="phone" type="text" class="form-control col-md-7 col-xs-12" ng-model="main.model.phone" ng-class="main.isInvalidClass(formUser, formUser.phone)" ng-maxlength="11" ng-minlength="7" />
                                <validation-message form="formUser" field="formUser.phone" ng-maxlength="11" ng-minlength="7" name="teléfono"></validation-message>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Teléfono 2
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input name="phone2" type="text" class="form-control col-md-7 col-xs-12" ng-model="main.model.phone2" ng-class="main.isInvalidClass(formUser, formUser.phone2)" ng-maxlength="11" ng-minlength="7" />
                                <validation-message form="formUser" field="formUser.phone2" ng-maxlength="11" ng-minlength="7" name="teléfono 2"></validation-message>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Rol <span class="required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select name="role" class="form-control" ng-model="main.model.role" ng-options="role.enum as role.name for role in main.roles" required></select>
                                <validation-message form="formUser" field="formUser.role" name="rol"></validation-message>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Ciudad</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div>
                                    <angucomplete-alt id="location"
                                                      placeholder="Ingresar Ubicación"
                                                      pause="400"
                                                      remote-url="/api/locations?pagesize=8&name="
                                                      title-field="name"
                                                      selected-object="main.changeLocation"
                                                      initial-value="main.model.location.name"
                                                      input-class="form-control col-md-9 col-xs-12 angucomplete-bootstrap"
                                                      field-required="false"
                                                      input-name="location"
                                                      field-required-class="parsley-error"
                                                      remote-url-data-field="results"
                                                      match-class="highlight" />
                                </div>
                                <validation-message form="formUser" field="formUser.location" name="ubicación"></validation-message>
                            </div>
                        </div>
                        <div class="form-group" ng-if="main.id">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Cambiar clave
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="checkbox" ng-model="main.changePassword"  />
                            </div>
                        </div>
                        <div class="form-group" ng-if="main.changePassword">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Clave <span class="required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input name="password" class="form-control col-md-7 col-xs-12" type="password" ng-model="main.model.password" ng-minlength="6" ng-maxlength="100" required="{{main.changePassword}}"  />
                                <validation-message form="formUser" field="formUser.password" name="clave"  ng-minlength="6" ng-maxlength="100"></validation-message>
                            </div>
                        </div>
                        <div class="form-group" ng-if="main.changePassword">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Confirmación de clave <span class="required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input name="password2" class="form-control col-md-7 col-xs-12" type="password" ng-model="main.model.password2" ng-minlength="6" ng-maxlength="100" compare-to="main.model.password" required="{{main.changePassword}}" />
                                <validation-message form="formUser" field="formUser.password2" name="confirmacion de clave" ng-minlength="6" ng-maxlength="100"></validation-message>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a type="submit" class="btn btn-default" href="/admin/users">Cancelar</a>
                                <button type="submit" class="btn btn-success">Guardar</button>
                                <button type="submit" class="btn btn-success" ng-click="main.saveAndContinue()">Guardar y continuar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
