@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Huellitas.Web

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="huellitas" ng-controller="RootController as root">
<head>
    <title ng-bind="root.seo.title"></title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="description" content="{{root.seo.description}}" />
    <meta property="og:url" content="{{root.seo.url}}" />
    <meta property="og:title" content="{{root.seo.title}}" />
    <meta property="og:description" content="{{root.seo.description}}" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="418" />
    <meta property="og:image" content="{{root.seo.image}}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{root.seo.title}}" />
    <meta name="twitter:image" content="{{root.seo.image}}" />
    <meta name="twitter:description" content="{{root.seo.description}}" />

    <base href="/" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700" rel="stylesheet" />

    <link href="/css/front.styles.css" rel="stylesheet" />
</head>
<body>
    <header class="inner-header">
        <div class="content-all">
            <div class="main-menu" ng-click="root.showMenu(true)"><span class="icon-menu"></span></div>
            <h1 class="logo">
                <a href="/">
                    <img src="/img/front/logo.svg" title="Logo Huellitas sin hogar" alt="Logo Huellitas sin hogar" />
                    <span>Huellitas sin hogar - Adopción de perros en Bogotá y Colombia</span>
                </a>
            </h1>
            <nav class="menu">
                <h2><a href="/" ng-class="{'active': root.currentMenu == '/'}" ng-click="root.showMenu(false)">Inicio</a></h2>
                <h2><a href="{{::root.getRoute('pets')}}" ng-class="{'active': root.currentMenu == '/sinhogar'}" ng-click="root.showMenu(false)">En adopción</a></h2>
                <h2><a href="{{::root.getRoute('lostpets')}}"  ng-click="root.showMenu(false)">Perdidos</a></h2>
                <h2><a href="{{::root.getRoute('shelters')}}" ng-click="root.showMenu(false)">Fundaciones</a></h2>
                <h2><a href="{{::root.getRoute('faq')}}" ng-click="root.showMenu(false)">¿Por qué adoptar?</a></h2>
                <h2><a href="{{::root.getRoute('contact')}}" target="_blank" ng-click="root.showMenu(false)">Contactanos</a></h2>
                <br />
            </nav>
            <div class="user-wraper">
                <a class="login" href="" ng-if="!root.currentUser" ng-click="root.showLogin()">Iniciar sesión</a>
                <a class="btn-noti" ng-href="{{root.getRoute('notifications')}}" ng-if="root.currentUser">
                    <i class="icon-noti"></i>
                    <span ng-if="root.currentUser.unseenNotifications">{{root.currentUser.unseenNotifications}}</span>
                </a>
                <div class="user-img" ng-if="root.currentUser" ng-click="root.showUserInfo()">
                    <div class="no-img">U</div>
                    <img src="https://scontent.fbog2-1.fna.fbcdn.net/v/t1.0-1/p56x56/14368897_1083015501806273_3197812012577248045_n.jpg?oh=e0ba28e2d93f5a799ac2d262b2ff862c&oe=5959FBE8" />
                </div>
                <br />
                <div class="sub-wraper" ng-if="root.currentUser" ng-show="root.showingUserInfo" ng-click="root.showUserInfo()">
                    <h6>{{root.currentUser.name}}</h6>
                    <p>{{root.currentUser.email}}</p>
                    <a ng-if="root.currentUser.role == 'SuperAdmin'"  ng-click="root.goToAdmin()">Administrador</a>
                    <a ng-href="{{::root.getRoute('mypets')}}">Mis huellitas</a>
                    <a ng-href="{{::root.getRoute('forms')}}">Formularios por responder</a>
                    <a href="misdatos.html">Mis datos</a>
                    <a href="javascript:;" ng-click="root.logout()" >Cerrar sesión</a>
                </div>
            </div>
            <br />
        </div>
    </header>

    <div ng-cloak=ng-cloak ng-view=ng-view></div>

    <footer>
        <div class="redes">
            <a href="https://www.facebook.com/huellitas.social/" title="Facebook Huellitas sin hogar" target="_blank"><span class="icon-face"></span></a>
            <a href="https://www.instagram.com/huellitas.social/" title="Instagram Huellitas sin hogar" target="_blank"><span class="icon-insta"></span></a>
        </div>
        <p>© 2017 Huellitas sin hogar. All rights reserved.</p>
    </footer>

    <environment names="Development">
        <script src="~/js/front.configuration.js"></script>
        <script src="~/js/front.site.min.js"></script>
        <jsresources type="front"></jsresources>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/front.configuration.js"></script>
        <script src="/js/front.site.min.js"></script>
    </environment>
</body>
</html>