<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Responder Formulario <small></small></h2>

                    <span class="label" ng-class="[
                        {'label-default' : main.model.status == 'None'},
                        {'label-danger' : main.model.status == 'Denied'},
                        {'label-warning' : main.model.status == 'AlreadyAdopted'},
                        {'label-success' : main.model.status == 'Approved'}
                        ]">{{main.model.status}}</span>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <a class="btn btn-app" href="/pets/{{::main.model.content.id}}/edit">
                        <i class="fa fa-edit"></i> Editar
                    </a>
                    <a class="btn btn-app" ng-href="{{root.getRoute('pet', { friendlyName: main.model.content.friendlyName})}}">
                        <i class="fa fa-eye"></i> Ver
                    </a>
                    <button class="btn btn-app" ng-click="main.showAddUser()">
                        <i class="fa fa-users"></i> Compartir
                    </button>
                    <button class="btn btn-app" ng-click="main.showSendByEmail()">
                        <i class="fa fa-send"></i> Enviar
                    </button>
                </div>

                <div class="x_content">
                    <br>
                    <div class="form-group">
                        <img ng-src="{{::main.model.content.image.fileName}}" width="200" height="200" />
                    </div>
                    <form class="form-horizontal">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-6">
                                    Mascota.
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-6">
                                    No.
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-6">
                                    {{::main.model.id}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-6">
                                    Fecha
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-6">
                                    {{::main.model.creationDate}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-6">
                                    Correo
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-6">
                                    {{::main.model.email}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-6">
                                    Teléfono
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-6">
                                    {{::main.model.phoneNumber}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-6">
                                    Nombre
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-6">
                                    {{::main.model.name}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-6">
                                    Ubicación
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-6">
                                    {{::main.model.location.name}} - {{::main.model.town}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-6">
                                    Dirección
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-6">
                                    {{::main.model.address}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-6">
                                    Fecha de nacimiento
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-6">
                                    {{::main.model.birthDate}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-6">
                                    Miembros de la familia
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-6">
                                    {{::main.model.familyMembers}} - Edades:{{::main.model.familyMembersAge}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-6">
                                    Ocupación
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-6">
                                    {{::main.model.job.text}}
                                </div>
                            </div>
                        </div>
                    </form>



                        <div class="x_title">
                            <h2>Preguntas:</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link" ng-click="main.toogleShowMore('attributes')">Ver más</a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content" ng-if="main.showAttributes">
                            <div class="form-group" ng-repeat="attribute in ::main.model.attributes" >
                                <label class="control-label col-md-9 col-sm-9 col-xs-12 force-left">
                                    {{::attribute.question}}
                                </label>
                                <div>
                                    {{::attribute.value}}
                                </div>
                            </div>
                            </div>
                            <div class="x_title">
                                <h2>Respuestas:</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link" ng-click="main.toogleShowMore('answers')">Ver más</a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content" ng-if="main.showAnswers">
                                <table class="table jambo_table">
                                    <thead>
                                        <tr>
                                            <th>Fecha</th>
                                            <th>Usuario</th>
                                            <th>Estado</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="answer in main.model.answers">
                                            <td>{{::answer.creationDate}}</td>
                                            <td>{{::answer.user.name}}</td>
                                            <td>
                                                <span class="label" ng-class="::[
                                                {'label-default' : answer.status == 'None'},
                                                {'label-danger' : answer.status == 'Denied'},
                                                {'label-warning' : answer.status == 'AlreadyAdopted'},
                                                {'label-success' : answer.status == 'Approved'}
                                                ]">{{::answer.status}}</span>
                                            </td>
                                            <td><button type="button" class="btn btn-default btn-xs" ng-click="main.showDetailAnswer(answer)">Ver Respuesta</button></td>
                                        </tr>
                                        <tr ng-if="!main.model.answers.length">
                                            <td colspan="5">No se ha respondido todavía</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div class="x_title">
                                <h2>Responder:</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link" ng-click="main.toogleShowMore('form')">Ver más</a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" ng-if="main.showForm">
                                <form name="formAdoptionResponse" novalidate="novalidate" ng-submit="main.saveResponse(formAdoptionResponse.$valid)">
                                    <p>Estado de la solicitud:</p>
                                    <div class="btn-group" data-toggle="buttons">
                                        <label ng-click="main.changeAnswerStatus('Approved')" class="btn" ng-class="main.activeTooggleClass('Approved', 'btn-success')">
                                            &nbsp; Aprobado &nbsp;
                                        </label>
                                        <label ng-click="main.changeAnswerStatus('Denied')" class="btn" ng-class="main.activeTooggleClass('Denied', 'btn-danger')">
                                            &nbsp; Rechazado &nbsp;
                                        </label>
                                        <label ng-click="main.changeAnswerStatus('AlreadyAdopted')" class="btn" ng-class="main.activeTooggleClass('AlreadyAdopted', 'btn-warning')">
                                            &nbsp; Adoptado &nbsp;
                                        </label>
                                    </div>
                                    <input name="status" type="text" ng-model="main.answer.status" style="display:none" required />
                                    <validation-message form="formAdoptionResponse" field="formAdoptionResponse.status" name="estado"></validation-message>
                                    <hr />
                                    <p>Información adicional:</p>
                                    <text-angular ng-model="main.answer.additionalInfo"></text-angular>
                                    <hr />
                                    <p>Notas:</p>
                                    <textarea ng-model="main.answer.notes" class="col-md-12"></textarea>
                                    <hr />
                                    <button class="btn btn-lg btn-success">Enviar</button>
                                </form>
                            </div>

                            <br />



                    <div class="ln_solid"></div>

                </div>
            </div>
        </div>
    </div>

</div>
